/* * {
    /* background-color: bisque; */


.img-grid {
    padding: 40px 60px;
    text-align: center;
} 

.img-grid .grid-parent {
    margin-top: 30px;
}
/*
.selected {
    width: 300px;
    height: 300px;
    border: 2px solid rebeccapurple;
}

.image {
    width: 170px;
    height: 110px;
}
 */
